<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'RouteVisApp1/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RouteVisApp1/css/flat-ui.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'RouteVisApp1/css/custom.css' %}">
    <title>RouteVis</title>
    <!-- http://127.0.0.1:8000/RouteVisApp1/ -->

</head>
<body>
    <header style="padding-top: 5px;">
        <h3 style="margin-top: 35px; margin-bottom: 0px;">Routing Algorithms Visualization</h3>
    </header>

    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>

    <div id="main-display-area" class="container-fluid">

        <div id="parameter-setting" class="row">

            <div class="col-2">
                <p>Data Source</p>
                <select id="data-source-selector" class="form-control select select-primary" style="border: 2px solid #bdc3c7">
                    <option value="0">Book Example</option>
                    <option value="1">Random</option>
                </select>
            </div>

            <div class="col-1">
                <button id="generate-graph-btn" class="btn btn-primary" onclick="onClickGenerateGraph()">
                    Generate Graph
                </button>
            </div>

            <div class="col-1">
                <p style="margin-bottom: 10px">Start</p>
                <input id="start-node" type="text" value placeholder="Start" class="form-control">
            </div>

            <div class="col-1">
                <p style="margin-bottom: 10px">End</p>
                <input id="end-node" type="text" value placeholder="End" class="form-control">
            </div>

            <div class="col-7">
                <p>Algorithms Selection</p>
                <!--
                <div class="select2-container form-control select select-primary" id="s2id_autogen1">
                    <a href="javascript:void(0)" class="select2-choice" tabindex="-1">
                        <span class="select2-chosen">Dijkstra</span>
                        <abbr class="select2-search-choice-close"></abbr>
                        <span class="select2-arrow" role="presentation">
                            <b role="presentation"></b>
                        </span>
                    </a>
                    <label for="s2id_autogen2" class="select2-offscreen"></label>
                    <input class="select2-focusser select2-offscreen" type="text" aria-haspopup="true" role="button" aria-labelledby="select2-chosen-2" id="s2id_autogen2">
                </div>
                -->
                <select id="algorithm-selector" class="form-control select select-primary" style="border: 2px solid #bdc3c7">
                    <option value="0">Dijkstra</option>
                    <option value="1">Ford</option>
                    <option value="2">ARPAnet</option>
                </select>
            </div>

            <!--
            <div class="col-8">
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Large button
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>Dijkstra</li>
                        <li>Ford</li>
                        <li>ARPAnet</li>
                    </ul>
                </div>
            </div>
            -->

            <!--
            <form role="form" class="form-inline">
                <label>Start</label>
                <input tex="text" value placeholder="Start" class="form-control">
                <label>End</label>
                <input tex="text" value placeholder="End" class="form-control">
                <label> algorithms selection </label>
                <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle" type="button">
                    "Algorithms"
                </button>
                <button type="button" class="btn btn-primary"> GO </button>
            </form>
            -->
        </div>

        <!-- -->

        <div id="ouput-area" class="row">

            <div id="graph-area" class="col-9">

            </div>


            <div id="detail-area" class="col-3" style="overflow-x:auto;">
                <p>Detail</p>
            </div>


        </div>

        <!-- -->

        <div id="animation-control" class="row">
            <div class="col-4">

            </div>

            <div id="control-paly-pause" class="col-2">
                <!--  <span class="fui-arrow-left"></span> -->

                <button type="button" class="btn-primary">
                    <span class="fui-arrow-left"></span>
                </button>

                <span id="playorpause" class="fui-play" onclick="onClickPlayOrPause()" style="display:none"></span>

                <span class="fui-pause" style="display:none"></span>

                <button id="step-forward-btn" type="button" class="btn-primary" onclick="onClickForward()">
                    <span class="fui-arrow-right"></span>
                </button>
                <!-- <span class="fui-arrow-right"></span>  -->
            </div>

            <div id="progress-control" class="col-3">
                <div class="progress">
                    <div id="animation-progress-bar" class="progress-bar" style="width: 0%;"></div>
                </div>
            </div>

            <div class="col-3">

            </div>
        </div>

    </div>
    <!-- /container -->

    <footer>
        <p style="padding-top: 15px">Assignments for the Distributed System Course</p>
    </footer>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'RouteVisApp1/js/jquery-3.4.1.js' %}"></script>
    <!-- bootstrap.bundle.js include Popper, but not jQuery -->
    <script src="{% static 'RouteVisApp1/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'RouteVisApp1/js/d3.js' %}"></script>
    <script> token = "{{ csrf_token }}"; </script>
    <script src="{% static 'RouteVisApp1/js/variable.js' %}"></script>
    <script src="{% static 'RouteVisApp1/js/graph.js' %}"></script>
    <script src="{% static 'RouteVisApp1/js/animation.js' %}"></script>
    <!-- <script src="https://kit.fontawesome.com/0701cca6d3.js" crossorigin="anonymous"></script> -->
    <!--  <script src="{% static 'RouteVisApp1/js/application.js' %}"></script> -->
    <!--
    <script src="{% static 'RouteVisApp1/js/flat-ui.js' %}"></script>
    <script>
        var $slider = $("#slider");
        if ($slider.length > 0) {
          $slider.slider({
            min: 1,
            max: 10,
            value: 1,
            orientation: "horizontal",
            range: "min"
          }).addSliderSegments($slider.slider("option").max);
        }
    </script>
    -->
</body>
</html>